<h1>
	Mi Componente {{nombre}}
	<br> {{ nombreCompleto() }}
	<br>
	<span>
		{{ 'Sergio Hidalgo' }}
	</span>
	<br>
	<button (click)="cambiarEstado()">Mostrar Descripción</button>
	<br>
	<span *ngIf="activo">
		{{ descripcion() }}
	</span>
	<form>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Nombre del curso" [(ngModel)]="nombreCurso" name="nombre-curso">
			<p>{{nombreCurso}}</p>
			<p [innerText]="nombreCurso"></p>
			<!--<input type="text" class="form-control" placeholder="Nombre del curso" (input)="textoIngresado($event)"> -->
		</div>
		<table class="table table-hover table-striped" *ngIf="cursos.length; else noHayData">
			<thead>
				<tr>
					<th>Curso</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let curso of cursos; let indice = index">
					<td>{{curso}}</td>
					<td>
						<button (click)="eliminar(indice)" class="btn btn-danger">Eliminar</button>
					</td>
				</tr>
			</tbody>
		</table>
		<ng-template #noHayData>
			No existen cursos ingresados
		</ng-template>
		<div class="form-group">
			<button class="btn btn-primary" type="button" (click)="agregarCurso()">Agregar Curso</button>
		</div>
	</form>



</h1>

<app-propietario></app-propietario>
<app-falla></app-falla>
<app-exito></app-exito>