<div class="row">
	<div class="col-4 offset-md-4">
		<form class="form-signin" #formulario="ngForm">
			<h1 class="h3 mb-3 font-weight-normal">Login</h1>

			<label for="inputEmail" class="sr-only">Correo</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Correo" name="correo" [(ngModel)]="correoInicial" required
			 email #correo="ngModel">
			<span class="help-block" *ngIf="!correo.valid && correo.touched && correo.errors.required">El correo es requerido</span>
			<span class="help-block" *ngIf="!correo.valid && correo.touched && correo.errors.email">El correo tiene que tener formato de correo</span>


			<label for="inputPassword" class="sr-only">Contraseña</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" name="contrasena" [(ngModel)]="contrasenaInicial"
			 required #contrasena="ngModel">
			<span class="help-block" *ngIf="!contrasena.valid && contrasena.touched">La contraseña es requerida</span>

			<button class="btn btn-lg btn-primary btn-block" (click)="loguearse()" [disabled]="!formulario.valid">Ingresar</button>
			<p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
		</form>
	</div>
</div>