<h2>Edición</h2>
<form>
	<div class="form-group">
		<input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" [(ngModel)]="usuario.apellido" name="apellido">
	</div>
	<div class="form-group">
		<div class="row justify-content-between">

			<button class="btn btn-success" (click)="grabar()" [disabled]="!usuario.nombre || !usuario.apellido || usuario.nombre.trim()=='' || usuario.apellido.trim() == ''">Grabar</button>

			<button class="btn btn-danger" (click)="cancelar()">Cancelar</button>

		</div>


	</div>
</form>