<ng-content></ng-content>
<div class="col-12" *ngIf="lista.length > 0; else NoHayNada">
	<div class="col-6">
		<form>
			<div class="form-group">
				<input type="text" class="form-control" (input)="filtrar($event.target.value)" placeholder="Usuario a buscar">
			</div>
		</form>
	</div>
	<app-usuario *ngFor="let item of lista; let indice=index" [item]="item" [indice]="indice"></app-usuario>
</div>
<ng-template #NoHayNada>
	<span class="help-block text-center col-12">No existen usuarios</span>
</ng-template>