<div class="col-12" *ngIf="lista.length > 0; else NoHayNada">
	<div class="col-6">
		<form>
			<div class="form-group">
				<input type="text" class="form-control" (input)="filtrar($event.target.value)" placeholder="Usuario a buscar">
			</div>
		</form>
	</div>
	<table class="table col-12">
		<thead>
			<tr>
				<th>Usuario</th>
				<th>Edad</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<!--<tr directiva-basica [colorOriginal]="'blue'" [colorHover]="'green'" [ngClass]="{mayores: soyViejo(user.edad), menores: soyJoven(user.edad)}"
				*ngFor="let user of lista; let indice = index">-->

			<tr [directiva-basica]="'blue'" [colorHover]="'green'" *ngFor="let user of lista; let indice = index">
				<!--<td [innerText]="user"></td>-->
				<td>{{user.nombreUsuario}}</td>
				<td>{{user.edad}}</td>
				<td>
					<button class="btn btn-danger" (click)="borrarUsuario(indice)">Borrar</button>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- 
			document.querySelector
		-->
</div>
<ng-template #NoHayNada>
	<span class="help-block text-center col-12">No existen usuarios</span>
</ng-template>